{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <form action="{% url 'new_post' %}" method="post">            
            <div class="mb-3">
                {% csrf_token %}
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    {% endif %}
    
    
    {% comment %} 
    All Posts: Each post should include the username of the poster, the post content itself, the date and time at which the post was made, 
    and the number of “likes” the post has. 
    {% endcomment %}

    {% comment %} {% for post in all_posts %} {% endcomment %}
    {% for post in page_obj %} {% comment %} Pagination {% endcomment %}
    <div class="posts" data-post="{{ post.id }}">
        <p>Title: {{ post.title }} {{ post.id }} </p>
        <p data-body="{{ post.id }}">{{ post.post }}</p>
        <p>Author: {{ post.author }}</p>
        <p>{{ post.created }}</p>
        {% comment %} <p><span style="color: red">&#x2764;</span>{{ post.likes }}</p> {% endcomment %}
        <p><span class="fa-solid fa-heart" style="color: red;"></span><span class="num-likes">{{ post.likes }}</span></p>
        
        {% if user.is_authenticated %}
            {% if post.id in current_user_liked_posts %} 
                <button class="unlike btn btn-light" data-unlike="{{ post.id }}" style="background: red; color: white;">Unlike</button>
            {% else %}
                <button class="like btn btn-light" data-like="{{ post.id }}" style="background: red; color: white;">Like</button>
            {% endif %}
        {% endif %}
        
        {% comment %} Add an edit button to the post if the id of the author of the post is equal to the current user. {% endcomment %}
        {% if post.author.id == user.id %}         
            <button class="edit btn btn-primary" data-edit="{{ post.id }}" type="submit">Edit</button>
            <div class="edit-post-div" data-post="{{ post.id }}">
                <form action="{% url 'edit' post.id %}" method="post">
                    {% csrf_token %}
                    {% comment %} Textarea content does is not displayed in Firefox. Chrome displays textarea content correctly. {% endcomment %}
                    <textarea class="form-control edited-post" id="exampleFormControlTextarea1" rows=3 name="update-post" data-text="{{ post.id }}">{{ post.post }}</textarea>
                    <button class="btn btn-primary" type="submit" data-save="{{ post.id }}">Save</button>
                </form>
            </div>
        {% endif %}
    </div>
    {% endfor %}

    {% comment %} 
    Pagination - Django - https://docs.djangoproject.com/en/5.0/topics/pagination/
    {% endcomment %}
    {% comment %} 
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endcomment %}

     {% comment %} 
    Pagination - https://getbootstrap.com/docs/5.3/components/pagination/
    {% endcomment %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            <li class="page-item page-link">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </li>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}