{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <form action="{% url 'new_post' %}" method="post">            
            <div class="mb-3">
                {% csrf_token %}
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    {% endif %}
    
    
    {% comment %} 
    All Posts: Each post should include the username of the poster, the post content itself, the date and time at which the post was made, 
    and the number of “likes” the post has. 
    {% endcomment %}

    {% for post in all_posts %}
    <div class="posts">
        <p>Title: {{ post.title }}</p>
        <p>{{ post.post }}</p>
        <p>Author: {{ post.author }}</p>
        <p>{{ post.created }}</p>
        {% comment %} <p><span style="color: red">&#x2764;</span>{{ post.likes }}</p> {% endcomment %}
        <p><span class="fa-solid fa-heart" style="color: red;"></span>{{ post.likes }}</p>        
    </div>
    {% endfor %}

{% endblock %}