{% extends 'network/layout.html' %}
{% load static %}

{% block body %}

    <h2>{{ user_name }}'s Profile Page</h2>

    {% comment %} Display all of the posts for that user, in reverse chronological order. {% endcomment %}
    {% comment %} {% for post in all_posts %} {% endcomment %}
    {% for post in page_obj %} {% comment %} Pagination {% endcomment %}
        <div class="posts" data-post="{{ post.id }}">
            <p>Title: {{ post.title }}</p>
            <p>{{ post.post }}</p>
            <p>Author: {{ post.author }}</p>
            <p>{{ post.created }}</p>
            {% comment %} <p><span style="color: red">&#x2764;</span>{{ post.likes }}</p> {% endcomment %}
            <p><span class="fa-solid fa-heart" style="color: red;"></span>{{ post.likes }}</p>
            
            {% comment %} Add an edit button to the current user's posts. {% endcomment %}
            <button class="edit btn btn-primary" data-edit="{{ post.id }}" type="submit">Edit</button>
            <div class="edit-post-div" data-post="{{ post.id }}">
                <form action="{% url 'edit' post.id %}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control edited-post" id="exampleFormControlTextarea1" rows=3 name="update-post" data-text="{{ post.id }}"></textarea>
                    <button class="btn btn-primary" type="submit" data-save="{{ post.id }}">Save</button>
                </form>
            </div>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            <li class="page-item page-link">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </li>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>

    {% comment %} Display number of followers the user has and the number of people the user follows. {% endcomment %}
    <p>Number of Followers: {{ all_followers }}</p>
    <p>Number Following: {{ all_following }}</p>

    {% comment %} 
    Display all other users who are signed in.
    For any other user who is signed in, display a “Follow” or “Unfollow” button that will let the current user toggle whether or not they are following this user’s posts. 
    {% endcomment %}

    {% comment %} 
    <p>Other users online now:</p>
    {% for user in signed_in_users %}
            <p class="follow">{{ user }}</p>
            {% if is_following or followed %} 
                <form action="{% url 'unfollow' user %}" method="post" class="follow"> 
                    {% csrf_token %} 
                    <button type="submit">Unfollow</button>
                </form>
            {% else %}             
                <form action="{% url 'follow' user %}" method="post" class="follow">
                    {% csrf_token %}  
                    <button type="submit">Follow</button>
                </form>
            {% endif %}
    {% endfor %}
    {% endcomment %}
    
    <p>Other users online now:</p>
    {% for user in signed_in_users %}
        <p class="follow">{{ user }}</p>
        {% comment %} If signed_in_user id is in current_user_is_following_ids, the current user is following them. {% endcomment %}
        {% if user.id in current_user_is_following_ids %}             
            <form action="{% url 'unfollow' user %}" method="post" class="follow" id="follow"> 
                {% csrf_token %} 
                <button type="submit">Unfollow</button>
            </form>
        {% else %}             
            <form action="{% url 'follow' user %}" method="post" class="follow" id="unfollow">
                {% csrf_token %}  
                <button type="submit">Follow</button>
            </form>
        {% endif %} 
    {% endfor %}    

{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}